body {
    display: flex;
    flex-direction: column; /* Apila elementos verticalmente */
    justify-content: space-between; /* Distribuye elementos en el espacio vertical */
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Harry Potter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white; /* Cambia el color del texto para que sea legible en el fondo */
    background: url('harry.jpg') no-repeat center center fixed; /* Ruta relativa a la imagen */
    background-size: cover;

    
}

/* Establece márgenes para el h1 */
h1 {
    font-size: 50px; 
    margin: 50;
    
}
                                            
p {
    margin: 10px 0; /* Espacio arriba y abajo para los párrafos */
    text-align: center;
}

#character-image {
    border-radius: 10%;
    max-width: 500px; 
    max-height: 350px;
}

#audio {
    disply: fixed;
    width: 100%;
    height: 80px;
}

#hp {
    display: flex;
    width: 100%;
    height: 30px;

}


