body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Harry Potter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white; 
    background: url('harry.jpg') no-repeat center center fixed;
    background-size: cover;
}


h1 {
    font-size: 50px; 
    margin: 50;
}
                                            
p {
    margin: 10px 0; 
    text-align: center;
}

#character-image {
    border-radius: 10%;
    max-width: 500px; 
    max-height: 350px;
}

#audio {
    disply: fixed;
    width: 100%;
    height: 80px;
}

#hp {
    display: flex;
    width: 100%;
    height: 30px;

}

#random {
    font-family:  'Harry Potter', sans-serif;
    margin-bottom: 50px;
    background-color: transparent;
    color: white;
    border-color: white;
 
}